@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@theme {
  --font-display: "Poppins", "sans-serif";
  --color-main: #424242;
  --color-secondary: #2da63f;
}

@custom-variant dark (&:where(.dark, .dark *));