@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@theme {
  --font-display: "Poppins", "sans-serif";
  --color-main: #424242;
  --color-secondary: #2da63f;

}